.wrapper{
    height: 100vh;
    width: 100vw;
    background-color: rgb(241, 239, 226);
    font-family: 'Nunito Sans', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.title{
    border-right: 1px solid rgb(153, 153, 153);
    border-bottom: 1px solid rgb(153, 153, 153);
    padding: 2rem 4em;
    background-color: rgb(243, 242, 233);
    width: fit-content;
    display: flex;
}

.title-h1{
    font-size: 4em;
    font-weight: bold;
}

.panel{
    width: 640px;
    height: 640px;
    border: rgb(238, 237, 232) 5px solid;
}

.title-subtitle{
    font-size: .8em;
    margin:.4em 1rem;
    width: 5em;
}

.italic{
    font-style: italic;
}



.row{
   display: flex;
   flex-wrap: wrap;
}

.tile{
    width: 64px;
    height: 64px;
    background-size: auto;
}

.tile .tile:hover{
    background-color: rgb(200,200,200, 0.2);
}

.grass1{
    background-image: url("../lib/ground/medievalTile_57.png");
}

.grass2{
    background-image: url("../lib/ground/medievalTile_58.png");
}

.roadY{
    background-image: url("../lib/ground/medievalTile_03.png");
}

.roadX{
    background-image: url("../lib/ground/medievalTile_04.png");
}

.roadXY{
    background-image: url("../lib/ground/medievalTile_05.png");
}

.roadXYbottom{
    background-image: url("../lib/ground/medievalTile_06.png");
}

.roadXYtop{
    background-image: url("../lib/ground/medievalTile_07.png");
}

.roadXleftY{
    background-image: url("../lib/ground/medievalTile_20.png");
}

.roadXrightY{
    background-image: url("../lib/ground/medievalTile_21.png");
}

.roadTopToRight{
    background-image: url("../lib/ground/medievalTile_31.png");
}

.roadTopToLeft{
    background-image: url("../lib/ground/medievalTile_32.png");
}

.roadLeftToBottom{
    background-image: url("../lib/ground/medievalTile_18.png");
}

.roadBottomToRight{
    background-image: url("../lib/ground/medievalTile_17.png");
}

.tree1{
    background-image: url("../lib/ground/medievalTile_45.png");
}

.tree2{
    background-image: url("../lib/ground/medievalTile_46.png");
}

.tree3{
    background-image: url("../lib/ground/medievalTile_47.png");
}

.forest{
    background-image: url("../lib/ground/medievalTile_48.png");
}

.tree1Down{
    background-image: url("../lib/ground/medievalTile_49.png");
}

.tree2Down{
    background-image: url("../lib/ground/medievalTile_50.png");
}

.tree3Down{
    background-image: url("../lib/ground/medievalTile_51.png");
}

.forestDown{
    background-image: url("../lib/ground/medievalTile_52.png");
}

.unit1{
    background-image: url("../lib/units/medievalUnit_01.png");
}

.unit2{
    background-image: url("../lib/units/medievalUnit_02.png");
}

.unit3{
    background-image: url("../lib/units/medievalUnit_03.png");
}

.unit4{
    background-image: url("../lib/units/medievalUnit_04.png");
}

.unit5{
    background-image: url("../lib/units/medievalUnit_05.png");
}

.unit6{
    background-image: url("../lib/units/medievalUnit_06.png");
}

.unit7{
    background-image: url("../lib/units/medievalUnit_07.png");
}

.unit8{
    background-image: url("../lib/units/medievalUnit_08.png");
}

.unit9{
    background-image: url("../lib/units/medievalUnit_09.png");
}

.unit10{
    background-image: url("../lib/units/medievalUnit_10.png");
}

.unit11{
    background-image: url("../lib/units/medievalUnit_11.png");
}

.unit12{
    background-image: url("../lib/units/medievalUnit_12.png");
}

.unit13{
    background-image: url("../lib/units/medievalUnit_13.png");
}

.unit14{
    background-image: url("../lib/units/medievalUnit_14.png");
}

.unit15{
    background-image: url("../lib/units/medievalUnit_15.png");
}

.unit16{
    background-image: url("../lib/units/medievalUnit_16.png");
}

.unit17{
    background-image: url("../lib/units/medievalUnit_17.png");
}

.unit18{
    background-image: url("../lib/units/medievalUnit_18.png");
}

.unit19{
    background-image: url("../lib/units/medievalUnit_19.png");
}

.unit20{
    background-image: url("../lib/units/medievalUnit_20.png");
}

.unit21{
    background-image: url("../lib/units/medievalUnit_21.png");
}

.unit22{
    background-image: url("../lib/units/medievalUnit_22.png");
}

.unit23{
    background-image: url("../lib/units/medievalUnit_23.png");
}

.unit24{
    background-image: url("../lib/units/medievalUnit_24.png");
}

.unitXX{
    background-image: url("../lib/units/medievalUnit_XX.png");
}

.house1{
    background-image: url("../lib/house/medievalStructure_09.png");
}

.house2{
    background-image: url("../lib/house/medievalStructure_17.png");
}

.house3{
    background-image: url("../lib/house/medievalStructure_18.png");
}

.house4{
    background-image: url("../lib/house/medievalStructure_19.png");
}

.house5{
    background-image: url("../lib/house/medievalStructure_20.png");
}

.house6{
    background-image: url("../lib/house/medievalStructure_21.png");
}

.moulinDown{
    background-image: url("../lib/moulin/medievalStructure_11.png");
}
.moulinUp{
    background-image: url("../lib/moulin/medievalStructure_10.png");
}

.roadEndLeft{
    background-image: url("../lib/ground/medievalTile_19.png");
}

.roadEndRight{
    background-image: url("../lib/ground/medievalTile_33.png");
}

.roadEndBottom{
    background-image: url("../lib/ground/medievalTile_35.png");
}

.firstMenu{
    display: flex;
    justify-content: center;
}

.button{
    border:none;
    font-size: 2em;
    padding: 1em 2em;
    margin:5em 5em;
    border-radius: 2em;
    cursor: pointer;
    background-color: rgb(185, 184, 173);
    font-family: inherit;
}

.button:hover{
    box-shadow: rgb(184, 182, 174, 0.5) 0 0 2em 0;
}

.menuConnection
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 50%;
}

.menuConnectionForm{
    display: flex;
    flex-direction: row;
}

.menuConnectionFormFieldSet{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.menuInscriptionForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputArea{
    padding: 0.5em;
    margin: .5em 2em;
    font-size: 1.2em;
}

.warning{
    padding: 2em;
    font-size: 1.5em;
    text-align: center;
    width: fit-content;
    background-color: red;
    margin-top: 1em;
}

.submit{
    border:none;
    font-size: 1.5em;
    padding: 0 2em;
    border-radius: 2em;
    cursor: pointer;
    background-color: rgb(185, 184, 173);
    font-family: inherit;
}

.submit:hover{
    box-shadow: rgb(184, 182, 174, 0.5) 0 0 2em 0;

}

.selectImg{
    width: 2em;
}

.optionImg{
    width: 2em;
}

.avatarChoise{
    width: 43%;
    margin-bottom: 2em;
}

.labelImg{
    margin-right:2rem;
}

.inputImg{
    margin-bottom: 2em
    ;
}


.radioLabel{
    border: solid 1px black;
    display: inline;
}