.panel{
    height: 100vh;
}

.row{
    display: flex;
    justify-content: center;
}

.tile{
    width: 64px;
    height: 64px;
}

.grass1{
    background-image: url("../lib/ground/medievalTile_57.png");
}

.grass2{
    background-image: url("../lib/ground/medievalTile_58.png");
}

.roadY{
    background-image: url("../lib/ground/medievalTile_03.png");
}

.roadX{
    background-image: url("../lib/ground/medievalTile_04.png");
}

.roadXY{
    background-image: url("../lib/ground/medievalTile_05.png");
}

.roadXYbottom{
    background-image: url("../lib/ground/medievalTile_06.png");
}

.roadXYtop{
    background-image: url("../lib/ground/medievalTile_07.png");
}

.roadXleftY{
    background-image: url("../lib/ground/medievalTile_20.png");
}

.roadXrightY{
    background-image: url("../lib/ground/medievalTile_21.png");
}

.roadTopToRight{
    background-image: url("../lib/ground/medievalTile_31.png");
}

.roadTopToLeft{
    background-image: url("../lib/ground/medievalTile_32.png");
}

.roadleftToBottom{
    background-image: url("../lib/ground/medievalTile_18.png");
}

.roadBottomToRight{
    background-image: url("../lib/ground/medievalTile_17.png");
}

.tree1{
    background-image: url("../lib/ground/medievalTile_45.png");
}

.tree2{
    background-image: url("../lib/ground/medievalTile_46.png");
}

.tree3{
    background-image: url("../lib/ground/medievalTile_47.png");
}

.forest{
    background-image: url("../lib/ground/medievalTile_48.png");
}

.tree1Down{
    background-image: url("../lib/ground/medievalTile_49.png");
}

.tree2Down{
    background-image: url("../lib/ground/medievalTile_50.png");
}

.tree3Down{
    background-image: url("../lib/ground/medievalTile_51.png");
}

.forestDown{
    background-image: url("../lib/ground/medievalTile_52.png");
}

.unit1{
    background-image: url("../lib/units/medievalUnit_01.png");
}

.unit2{
    background-image: url("../lib/units/medievalUnit_02.png");
}

.unit3{
    background-image: url("../lib/units/medievalUnit_03.png");
}

.unit4{
    background-image: url("../lib/units/medievalUnit_04.png");
}

.unit5{
    background-image: url("../lib/units/medievalUnit_05.png");
}

.unit6{
    background-image: url("../lib/units/medievalUnit_06.png");
}

.unit7{
    background-image: url("../lib/units/medievalUnit_07.png");
}

.unit8{
    background-image: url("../lib/units/medievalUnit_08.png");
}

.unit9{
    background-image: url("../lib/units/medievalUnit_09.png");
}

.unit10{
    background-image: url("../lib/units/medievalUnit_10.png");
}

.unit11{
    background-image: url("../lib/units/medievalUnit_11.png");
}

.unit12{
    background-image: url("../lib/units/medievalUnit_12.png");
}

.unit13{
    background-image: url("../lib/units/medievalUnit_13.png");
}

.unit14{
    background-image: url("../lib/units/medievalUnit_14.png");
}

.unit15{
    background-image: url("../lib/units/medievalUnit_15.png");
}

.unit16{
    background-image: url("../lib/units/medievalUnit_16.png");
}

.unit17{
    background-image: url("../lib/units/medievalUnit_17.png");
}

.unit18{
    background-image: url("../lib/units/medievalUnit_18.png");
}

.unit19{
    background-image: url("../lib/units/medievalUnit_19.png");
}

.unit20{
    background-image: url("../lib/units/medievalUnit_20.png");
}

.unit21{
    background-image: url("../lib/units/medievalUnit_21.png");
}

.unit22{
    background-image: url("../lib/units/medievalUnit_22.png");
}

.unit23{
    background-image: url("../lib/units/medievalUnit_23.png");
}

.unit24{
    background-image: url("../lib/units/medievalUnit_24.png");
}

